language: python

sudo: false

cache: pip

python:
  - '2.6'
  - '2.7'
  - 'pypy'
  - '3.3'
  - '3.4'

install:
  - pip install tox>=1.8

env:
  global:
    - PIP_DOWNLOAD_CACHE=$HOME/.pip-cache
  matrix:
    - ADAPTER=sqlite
    - ADAPTER=mysql
    - ADAPTER=postgres
    - ADAPTER=postgresPG8000
    - ADAPTER=postgres2
    - ADAPTER=google
    - ADAPTER=mongo
    - ADAPTER=imap

matrix:
  exclude:
    - python: 'pypy'
      env: ADAPTER=postgres
    - python: 'pypy'
      env: ADAPTER=postgres2
    - python: 'pypy'
      env: ADAPTER=google
    - python: '2.6'
      env: ADAPTER=google
    - python: '3.3'
      env: ADAPTER=google
    - python: '3.3'
      env: ADAPTER=imap
    - python: '3.4'
      env: ADAPTER=google
    - python: '3.4'
      env: ADAPTER=imap

before_script:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install codecov; fi
  - if [[ $ADAPTER == mongo ]]; then sleep 15; fi;
  - if [[ $ADAPTER == mysql ]]; then mysql -e 'create database pydal;'; fi
  - if [[ $ADAPTER == postgres* ]]; then psql -c 'create database pydal;' -U postgres; fi
  - if [[ $ADAPTER == postgres* ]]; then psql -c 'create extension postgis;' -U postgres -d pydal; fi
  - if [[ $ADAPTER == postgres* ]]; then psql -c 'SHOW SERVER_VERSION' -U postgres; fi

  # Install last sdk for app engine (update only whenever a new release is available)
  - if [[ $ADAPTER == google ]]; then wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.25.zip -nv; fi
  - if [[ $ADAPTER == google ]]; then unzip -q google_appengine_1.9.25.zip; fi
  - if [[ $ADAPTER == google ]]; then mv -f ./google_appengine/google ./google; fi


script:
  - if [[ $TRAVIS_PYTHON_VERSION != "2.7" ]]; then tox -e $(echo py$TRAVIS_PYTHON_VERSION | tr -d . | sed -e 's/pypypy/pypy/')-$ADAPTER; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then tox -e coverage-$ADAPTER; fi

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then codecov; fi

notifications:
  email: true

services:
  - mongodb
  - memcached

addons:
  postgresql: "9.4"

