language: python

python:
  - '2.6'
  - '2.7'
  - 'pypy'

install:
  - pip install tox>=1.8

env:
  - ADAPTER=sqlite
  - ADAPTER=mysql
  - ADAPTER=postgres
  - ADAPTER=google
  - ADAPTER=mongo
  - ADAPTER=imap

before_script:
  - if [[ $ADAPTER == mysql ]]; then mysql -e 'create database pydal;'; fi
  - if [[ $ADAPTER == postgres ]]; then psql -c 'create database pydal;' -U postgres; fi
  - if [[ $ADAPTER == postgres ]]; then psql -c 'create extension postgis;' -U postgres -d pydal; fi

  # Install last sdk for app engine (update only whenever a new release is available)
  - if [[ $ADAPTER == google ]]; then wget http://googleappengine.googlecode.com/files/google_appengine_1.8.9.zip -nv; fi
  - if [[ $ADAPTER == google ]]; then unzip -q google_appengine_1.8.9.zip; fi
  - if [[ $ADAPTER == google ]]; then mv -f ./google_appengine/google ./google; fi

matrix:
  exclude:
    - python: 'pypy'
      env: ADAPTER=postgres
    - python: 'pypy'
      env: ADAPTER=mysql
    - python: 'pypy'
      env: ADAPTER=google
    - python: '2.6'
      env: ADAPTER=google

script:
  - tox -e $(echo py$TRAVIS_PYTHON_VERSION | tr -d . | sed -e 's/pypypy/pypy/')-$ADAPTER

notifications:
  email: false

services: mongodb
